In [ ]:
lista_empresas = ['PETRA4.SA', 'VALE3.SA', 'BBAS3.SA', 'BBDC4.SA', 'ITUB4.SA','ITSA4.SA']

# Script Dados Hist√≥ricos

In [3]:
import requests as re
import pandas as pd
from io import StringIO

In [42]:
url = 'https://query1.finance.yahoo.com/v7/finance/download/PETR4.SA?period1=1566691200&period2=1724544000&interval=1d&events=history&includeAdjustedClose=true'

In [43]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36'
}

In [44]:
response = re.get(url, headers=headers)

In [45]:
response.status_code

200

In [46]:
data = StringIO(response.text)

In [47]:
df = pd.read_csv(data)

In [48]:
df.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2019-08-26  24.580000  24.680000  23.770000  23.959999   8.122455  39688800
1  2019-08-27  24.170000  24.820000  23.809999  24.340000   8.251275  70475200
2  2019-08-28  24.200001  24.700001  24.120001  24.590000   8.336027  41981500
3  2019-08-29  24.900000  25.500000  24.680000  25.500000   8.644517  61008800
4  2019-08-30  25.530001  25.690001  25.170000  25.500000   8.644517  54958200

In [49]:
df.shape

(1244, 7)

In [50]:
df = df.rename(columns={
    "Open": "preco_abertura",
    "High": "preco_maximo",
    "Low": "preco_minimo",
    "Close": "preco_fechamento",
    "Adj Close": "preco_fechamento_ajustado",
    "Volume": "volume",
    "Date": "data_referencia"
})

In [51]:
df.head()

,data_referencia,preco_abertura,preco_maximo,preco_minimo,preco_fechamento,preco_fechamento_ajustado,volume
0,2019-08-26,24.580000,24.680000,23.770000,23.959999,8.122455,39688800
1,2019-08-27,24.170000,24.820000,23.809999,24.340000,8.251275,70475200
2,2019-08-28,24.200001,24.700001,24.120001,24.590000,8.336027,41981500
3,2019-08-29,24.900000,25.500000,24.680000,25.500000,8.644517,61008800
4,2019-08-30,25.530001,25.690001,25.170000,25.500000,8.644517,54958200

In [52]:
df['acao'] = 'PETR4'

In [53]:
df.head()

,data_referencia,preco_abertura,preco_maximo,preco_minimo,preco_fechamento,preco_fechamento_ajustado,volume,acao
0,2019-08-26,24.580000,24.680000,23.770000,23.959999,8.122455,39688800,PETR4
1,2019-08-27,24.170000,24.820000,23.809999,24.340000,8.251275,70475200,PETR4
2,2019-08-28,24.200001,24.700001,24.120001,24.590000,8.336027,41981500,PETR4
3,2019-08-29,24.900000,25.500000,24.680000,25.500000,8.644517,61008800,PETR4
4,2019-08-30,25.530001,25.690001,25.170000,25.500000,8.644517,54958200,PETR4

In [54]:
df = df[['acao', 'preco_abertura', 'preco_maximo', 'preco_minimo', 'preco_fechamento', 'volume']]

In [55]:
df.head()

,acao,preco_abertura,preco_maximo,preco_minimo,preco_fechamento,volume
0,PETR4,24.580000,24.680000,23.770000,23.959999,39688800
1,PETR4,24.170000,24.820000,23.809999,24.340000,70475200
2,PETR4,24.200001,24.700001,24.120001,24.590000,41981500
3,PETR4,24.900000,25.500000,24.680000,25.500000,61008800
4,PETR4,25.530001,25.690001,25.170000,25.500000,54958200